<div class="add-product">
    <h1>Add New Product</h1>
    <form #addProduct = "ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input 
            type="text" 
            class="form-input" 
            placeholder="Enter Food Name" 
            name="name"
            ngModel
        >
        <input 
            type="text" 
            class="form-input" 
            placeholder="Enter Food Price" 
            name="price"
            ngModel
        >
        <input 
            type="text" 
            class="form-input" 
            placeholder="Enter Food category" 
            name="category"
            ngModel
        >
        <input 
            type="text" 
            class="form-input" 
            placeholder="Enter Food Color" 
            name="Color"
            ngModel
        >
        <textarea 
            type="text" 
            class="form-input" 
            placeholder="Enter Food Description" 
            name="category"
            ngModel
        >
        </textarea>
        <input 
            type="text" 
            class="form-input" 
            placeholder="Enter Food Image Url" 
            name="image-url"
            ngModel
        >
        <button class="form-button" (click)="alert()">Add Product</button>
    </form>
</div>
